.App {
  font-family: sans-serif;
  text-align: center;
}

h5 {
  color: grey;
  font-family: inherit;
  position: relative;
  margin-left: 7px;
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: x-large;
}

.card-body {
  background-color: #fffacd;
  align-self: center;
  align-content: center;
}
.search-form-input {
  margin-left: 20px;
  font-size: 35px;
  border-radius: 8px;
  margin-right: 5px;
  max-width: 250px;
}

.less {
  text-align: auto;
  font-size: x-small;
  display: block;
}
.search-form-button {
  padding: 7px;
  background-color: #20b1a9;
  font-size: large;
  border-radius: 10px;
}
.search-form {
  margin-left: 20px;
}
.unit {
  text-decoration: none;
}

.text {
  font-size: larger;
}

.mainCity {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #d3b69b33;
  max-width: fit-content;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  font-size: smaller;
}
#time {
  padding-top: 10px;
  color: rgb(4, 76, 66);
  font-size: small;
}
h4 {
  color: darkblue;
}
#city {
  padding: 15px;
  padding-top: 10px;
  color: rgb(164, 40, 164);
  font-weight: bold;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.icon {
  width: 70px;
  height: auto;
  padding: 0px;
}
.h6 {
  color: grey;
  list-style: none;
  font-size: x-small;
}
.row {
  margin-top: 15px;
  display: flex;
}
#date {
  color: rgb(66, 83, 37);
  padding-top: 10px;
  padding-left: 60px;
  font-size: x-small;
}
.row {
  display: flexbox;
  padding-bottom: 10px;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 100px 100px;
  border-radius: 10px;
}
.weather-forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  justify-content: space-around;
}
.weather-forecast-icon {
  width: 5px;
  display: flex;
  justify-content: space-between;
}
.footer {
  padding: 15px;
  padding-top: 40px;
  font-size: smaller;
}
.sig {
  color: purple;
}
.number {
  font-size: xx-large;
}
.first-unit {
  font-size: xx-large;
}
.unit {
  font-size: larger;
}

@media (max-width: 800px) {
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    margin: 0px;
  }

  .mainCity {
    display: inline;
  }
  #city {
    color: rgb(164, 40, 164);
    font-weight: bold;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .search-form-input {
    margin-left: 25px;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 5px;
    max-width: 250px;
  }
  h5 {
    margin-left: 20px;
    font-size: 25px;
  }
  .h6 {
    font-size: 12px;
    display: flexbox;
  }
  .search-form {
    display: inline-block;
  }
  .less {
    text-align: auto;
    font-size: x-small;
    display: block;
  }
  .search-form-button {
    background-color: #20b1a9;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px;
  }
}
