.weather-forecast {
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
}
.earlier-temperature {
  font-weight: bolder;
}
.Forecast-icon {
  font-size: x-large;
}
.max-temperature {
  font-weight: bolder;
}
