.weather-forecast {
  display: block;
  margin-top: 50px;
  justify-content: space-around;
}

.Forecast-icon {
  font-size: x-large;
}
.max-temp {
  font-weight: bolder;
  font-size: 20px;
}
.min-temp {
  color: rgb(94, 93, 93);
  margin-top: 1px;
  font-size: 20px;
}

.forecast-temperature {
  display: flex;
  font-size: small;
}
.forecast-day {
  color: rgb(17, 107, 107);
  padding-top: 5px;
  font-size: larg;
}
.forecast-row {
  display: flex;
}
.col {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 720px) {
  .forecast-row {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .col {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .row {
    padding-bottom: 5px;
  }
  .forecast-temperature {
    display: flex;
    padding: 10px;
  }
  .Forecast-icon {
    font-size: large;
  }
  .max-temp,
  .min-temp {
    font-size: 15px;
  }
}
