.weather-forecast {
  text-align: center;
  margin-top: 50px;
  margin-right: 20px;
}

.Forecast-icon {
  font-size: x-large;
}
.max-temp {
  font-weight: bolder;
  font-size: 22px;
}
.min-temp {
  color: rgb(94, 93, 93);
  margin-top: 2px;
}

.forecast-temperature {
  display: flex;
}
.forecast-day {
  color: rgb(17, 107, 107);
}
.forecast-row {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}
.col {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 800px) {
  .forecast-row {
    font-size: x-small;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    margin: auto;
  }
  .col {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 30px;
  }
}
